[submodule "UmedaTakefumi.vim"]
	path = UmedaTakefumi.vim
	url = https://github.com/UmedaTakefumi/UmedaTakefumi.vim.git
[submodule "UmedaTakefumi.bash"]
	path = UmedaTakefumi.bash
	url = https://github.com/UmedaTakefumi/UmedaTakefumi.bash.git
[submodule "UmedaTakefumi.screen"]
	path = UmedaTakefumi.screen
	url = https://github.com/UmedaTakefumi/UmedaTakefumi.screen.git
[submodule "UmedaTakefumi.ansible"]
	path = UmedaTakefumi.ansible
	url = https://github.com/UmedaTakefumi/UmedaTakefumi.ansible.git
[submodule "UmedaTakefumi.gitconfig"]
	path = UmedaTakefumi.gitconfig
	url = https://github.com/UmedaTakefumi/UmedaTakefumi.gitconfig.git
