[user]
  name  = UnknownUserName
  email = example@example.jp

[core]
  # 日本語ファイル名に対応する
  precomposeunicode = true
  quotepath = false

[color]
  ui = auto

[merge]
  tool = vimdiff

[mergetool]
  prompt = false
  keepBackup = false

